[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
requests = "*"
python-dotenv = "*"
pytest-html = "*"
pytest-xdist = "*"
Random-Word-Generator = "*"

[dev-packages]

[requires]
python_version = "3.9"
